
    <div class="form-container">
        <h1 mat-dialog-title>Student Predict Form</h1>
            <mat-card >
                <form #studentForm = "ngForm" (ngSubmit)="onSubmit()" >
                    <div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Math Avg.</mat-label>
                                <input matInput placeholder="Enter your Math Avg"
                                [(ngModel)]= mathAvg
                                name = mathAvg
                                type="number"
                                (change)="clearError()"
                                (keyDown)="clearError()"
                                required>
                            </mat-form-field>
            
                        </div>
                        <div style="color:red;padding-top:10px" *ngIf="!!mathError">{{mathError}}</div>
        
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Psychometric Grade</mat-label>
                                <input matInput  placeholder="Enter your years of education (0-24)"
                                [(ngModel)]= psychoGrade
                                name = psychoGrade
                                type="number"
                                (change)="clearError()"
                                (keyDown)="clearError()"
                                required >
                            </mat-form-field>
                        </div>
                   <div style="color:red;padding-top:10px" *ngIf="!!psychError">{{psychError}}</div>
                   <div *ngIf="!!predictResult">
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedValue" name="pred">
                            <mat-option *ngFor="let pred of predictsOptions" [value]="pred.value">
                              {{pred.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
    
                </div>
                        <div>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" (change)="paid = !paid" [(ngModel)]="paid">Payment Paid?</mat-checkbox>
                            </section>
                        </div>
                        <div>
                            <div class="buttons-box">

                                <button *ngIf="!predictResult" [disabled] ="!studentForm.form.valid" type = "submit" mat-raised-button color="accent">Predict</button>
                                <button *ngIf="!!predictResult" mat-raised-button (click)="predictResult=''" color="warn">Cancel</button>
                                <button *ngIf="!!predictResult" mat-raised-button (click)="saveStudent()"  color="primary">Save</button>
                            </div>
                        
                        </div>
                        
                    </div>
                </form>
            </mat-card> 
        </div>