<table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="mathAvg">
      <th mat-header-cell *matHeaderCellDef> Math Avg. </th>
      <td mat-cell *matCellDef="let element"> {{element.mathAvg}} </td>
    </ng-container>  
    <ng-container matColumnDef="psychoGrade">
      <th mat-header-cell *matHeaderCellDef> Psychometric Grade</th>
      <td mat-cell *matCellDef="let element"> {{element.psychoGrade}} </td>
    </ng-container>
    <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef> Student Paid</th>
        <td mat-cell [style.color]="element.payment ? 'green' : 'red'" *matCellDef="let element"> {{element.payment ? 'Paid':'Not Paid'}} </td>
      </ng-container>
      <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict</th>
        <td mat-cell [style.color]="element.predict > 0.5 ? 'green':'red'" *matCellDef="let element"> {{element.predict > 0.5 ? 'Did not drop out of school':'drop out of school'}} </td>
      </ng-container>
      <ng-container matColumnDef="ownedEmail">
        <th mat-header-cell *matHeaderCellDef> Owner Email</th>
        <td mat-cell *matCellDef="let element"> {{element.ownedEmail}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
            <button  mat-raised-button (click)="deleteStudent(element.studentId)"  color="warn">Delete</button>       
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>