.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-nav-list .mat-list-item:hover{
    background-color: #FF4081;
    color:#fff;

  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  a:hover{
    color:black;
    transition:all 0.6s;
  }

  .nav-text > div:first-child {
    font-weight: bold;
    font-size: 26px;
  }

  .mat-toolbar ng-tns-c64-0{
    background-color: gray;
  }
  .mat-toolbar-row, .mat-toolbar-single-row:not(.mat-accent){
    background-color: lightgray;
    font-weight: bold;
    color:#FF4081;

  }
  .nav-text{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    color:white;
  }
  
  .links-group{
    display:flex;
    width:270px;
    justify-content: space-around;
  }
  
  .whitelink {
    text-decoration:none;
    color:white;
    cursor: pointer;
  }
